<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        My Musicologist
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="modal fade" id="playlistModal" tabindex="-1" role="dialog" aria-labelledby="playlistModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="playlistModalLabel">Your Playlist</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body" id="musicQueryResults">
        </div>
        <div class="modal-footer">
          <button type="button" class="button" data-dismiss="modal">Close</button>
          <button type="button" class="button-primary">Accept</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-container">
  <div class="container section">
    <div class="row">
      <h1 class="col col-centered">My Music Interests</h1>
    </div>
    <div class="row">
      <div class="container">
        <div class="eight offset-by-one columns">
          <input type="text" class="u-full-width" id="musicField" placeholder="Song Name, Artist...">
        </div>
        <div class="two columns">
          <button id="addButton" class="button" type="button">Add</button>
        </div>
      </div>
    </div>
    <div class="row">
      <ul id="playlistParameters">
      </ul>
    </div>
    <div class="row">
      <div class="col">
        <button id="getPlaylistBtn" class="button-primary"
          data-toggle="modal" data-target="#playlistModal">Get Playlist</button>
      </div>
    </div>
  </div>
</div>
